@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 1px black;
  font-family: "Anton";
}

h2 {
  -webkit-text-stroke: 1px black;
  font-family: "Anton";
}
h1 {
  -webkit-text-stroke: 1px black;
  font-family: "Anton";
}
